@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'manrope', Helvetica, sans-serif;
}

p{
  /* font-family: 'mukta'; */
  font-size: 18px;
  /* color:#556775 */
}

h3{
  font-size: x-large ;
  font-weight: bold;
}
.navbar-toggle-btn {
  width: 32px;
  height: 23px;
  position: relative;
  right: 0;
  transition: 0.3s;
  top: 0;
}

.navbar-toggle-btn span {
  background: black;
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.3s;
}

.navbar-toggle-btn span:nth-child(1) {
  top: 0;
}

.navbar-toggle-btn span:nth-child(2),
.navbar-toggle-btn span:nth-child(3) {
  top: 12px;
}

.navbar-toggle-btn span:nth-child(4) {
  top: 24px;
}

.navbar-toggle-btn.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar-toggle-btn.open span:nth-child(2) {
  transform: rotate(45deg);
}

.navbar-toggle-btn.open span:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar-toggle-btn.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.bg-images {
  background-color: transparent;
  width: fit-content;
  background-image: linear-gradient(180deg, #ffffff00 55%, #cfff9c 0%);
}



/* gallery */

.gallery-container {
  padding: 2rem;
  column-count: 3;
  max-width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 1rem;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  transition: transform 0.4s ease-in-out;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .gallery-container {
    column-count: 3;
  }
}

@media (max-width: 768px) {
  .gallery-container {
    column-count: 2;
    max-width: 85%;
  }
}

@media (max-width: 426px) {
  .gallery-container {
    column-count: 1;
    max-width: 90%;
  }
}
